<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>

    <form method="post" action="/user/add">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="enter email" name="email">
        <input type="password" name="password" placeholder="enter password">
        <button>Add</button>
    </form>
</body>
</html>